@using MvcOnlineTicariOtomasyon.Models.Entities;
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><strong>Products</strong></li>
</ol>

<table class="table table-dark table-striped table-hover" style="margin-top:20px;">
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Category Name</th>
        <th>Stock</th>
        <th>Pruchase Price</th>
        <th>Sale Price</th>
        <th>Image</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id.ToString()</td>
            <td>@item.Name</td>
            <td>@item.Brand</td>
            <td>@item.Category.Name</td>
            <td>@item.Stock.ToString()</td>
            <td>@item.PruchasePrice.ToString()</td>
            <td>@item.SalePrice.ToString()</td>
            <td>@item.Image</td>

            <td><a href="/Product/Delete/@item.Id" class="btn btn-danger">Delete</a></td>
            <td><a href="/Product/Update/@item.Id" class="btn btn-success">Update</a></td>
        </tr>
    }

</table>
<a href="/Product/Insert" class="btn btn-primary">New Product</a>


