@model MvcOnlineTicariOtomasyon.Models.Entities.Product
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><strong>Update Product</strong></li>
</ol>

@using (Html.BeginForm("Update", "Product", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Brand)
        @Html.TextBoxFor(x => x.Brand, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.CategoryId)
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Stock)
        @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.PruchasePrice)
        @Html.TextBoxFor(x => x.PruchasePrice, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.SalePrice)
        @Html.TextBoxFor(x => x.SalePrice, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.IsActive)
        @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Image)
        @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    </div>
    <button class="btn btn-warning">Update</button>
}

