@model MvcOnlineTicariOtomasyon.Models.Entities.Personel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><strong>Update Personel</strong></li>
</ol>

@using (Html.BeginForm("Update", "Personel", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.LastName)
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.DepartmentId)
        @Html.DropDownListFor(x => x.DepartmentId, (List<SelectListItem>)ViewBag.Departments, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.IsActive)
        @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Image)
        @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    </div>
    <button class="btn btn-warning">Update</button>
}

